{% extends 'templates/app.html' %}

{% block main %}
<h2>Perfiles registrados</h2>

<section class="mt-4">
    <table class="table mt-4">
        <thead>
        <tr>
            <th>Usuario</th>
            <th>Perfil</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
        <tr>
            <td>{{ profile.name }}</td>
            <td>

                <a href="{% url 'profile.show' profile.id %}" class="text-primary" role="button" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye text-success"
                         width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <desc>Download more icon variants from https://tabler-icons.io/i/eye</desc>
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="12" r="2"></circle>
                        <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path>
                    </svg>
                </a>

                <a href="#" class="text-primary" role="button" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <desc>Download more icon variants from https://tabler-icons.io/i/edit</desc>
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                        <path d="M16 5l3 3"></path>
                    </svg>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}
